* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a1214;
  color: white;
}
ul {
  position: relative;
  background-color: #201d32;
  padding: 20px 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 120px;
  width: 600px;
}
ul li {
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: gray;
  transition: color 0.3s ease;
}
ul li i{
    font-size: 30px;
}
ul li.active {
  color: #00ffff;
}
ul li p {
  opacity: 0;
  transform: translateY(10px);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
ul li.active p {
  opacity: 1;
  transform: translateY(0);
  max-height: 40px;
}
.indicator {
  position: absolute;
  bottom: -15%;
  width: 40px;
  height: 40px;
  background-color: #29fd53;
  border-radius: 50%;
  border: 6px solid #0a1214;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 40px;
  box-shadow: 0 10px 0 #0a1214;
}
.indicator::after {
  content: "";
  position: absolute;
  top: -10%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: 0 10px 0 #0a1214;
}
